@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
* {
  box-sizing: border-box;
}
small {
  display: block;
  padding: 1rem 0;
  font-size: 1em;
  transition: opacity 0.33s;
  text-align: center;
}
textarea, input, button {
  line-height: 1.5rem;
  border: 0;
  outline: none;
  font-family: inherit;
  appearance: none;
}
textarea, input {
  color: #4e5e72;
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
}
textarea {
 width: 100%;
 min-height: 8rem!important;
 float: left;
 margin-bottom: 1em;
}
input {
 margin-bottom: 0;
 background-position: 1px;
 background-repeat: repeat-x;
}
button {
 padding: 0.5rem 1rem;
 border-radius: 0.25rem;
 background-color: rgba(78, 94, 114, 0.9);
 color: white;
 font-size: 1rem;
 transition: background-color 0.2s;
 cursor: pointer;
}

button:hover {opacity: 0.6;}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgba(78, 94, 114, 0.3)' x='0' y='23' width='10' height='1'/></svg>");
  outline: none;
}

#contactForm {
    margin-top: 0;
    background-color: #c8e7d8;
    padding: 7%;
}

h1 {
    font-size: 3em;
    font-family: 'Dancing Script';
    text-align: center;
  }

.wrapper {
  width: 49rem;
  background-color: white;
  padding-top: 2em;
  border-radius: 1em;
}
.letter {
  width: 38rem;
  margin: auto;
  perspective: 60rem;
}

.side {
  height: 12rem;
  background-color: #fff;
  outline: 1px solid transparent;
}

.side2 {
    text-align: right;
}

.centered {
  margin: 1rem auto;
}

.clearfix {
  overflow: auto;
  content: "";
  clear: both;
  display: table;
}

.err {
  color: red;
  font-size: 11px;
}

.err p {margin-bottom: 0;}